# Byte-compiled / cache files
__pycache__/
*.py[cod]
# Environment files
.env
*.env

# VSCode and other editor settings
.vscode/
.idea/

# OS-specific junk
.DS_Store
Thumbs.db

# Logs
*.log

# Python virtual environments
venv/
.env/
.venv/
