<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watsonx Orchestrate Fullscreen Chat</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            background: transparent;
            overflow: hidden;
        }

        /* Container for fullscreen chat */
        #fullscreen-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: transparent;
        }
    </style>
</head>
<body>
    <div id="fullscreen-overlay"></div>

    <script>
        window.wxOConfiguration = {
            orchestrationID: "3628504c922343028a1d735cca2420b9_a5503c56-b8a0-441d-97c1-8d9989c4f334",
            hostURL: "https://au-syd.watson-orchestrate.cloud.ibm.com",
            rootElementID: "fullscreen-overlay", 
            showLauncher: false,
            deploymentPlatform: "ibmcloud",
            crn: "crn:v1:bluemix:public:watsonx-orchestrate:au-syd:a/3628504c922343028a1d735cca2420b9:a5503c56-b8a0-441d-97c1-8d9989c4f334::",
            chatOptions: {
                agentId: "68494cb6-5c0d-4d4b-88a4-041dfe97c0c8",
                agentEnvironmentId: "d30e2d0d-ad65-49c3-848e-a0131a8cd813",
            },
            
            layout: {
                form: 'fullscreen-overlay',         // fullscreen layout
                showOrchestrateHeader: true         // show header bar
            }
        };

        setTimeout(function () {
            const script = document.createElement('script');
            script.src = `${window.wxOConfiguration.hostURL}/wxochat/wxoLoader.js?embed=true`;
            script.addEventListener('load', function () {
                wxoLoader.init();
            });
            document.head.appendChild(script);
        }, 0);
    </script>
</body>
</html>
